In [54]:
#importing the libraries
import pandas as pd

In [55]:
finance = pd.read_csv('../data/biggest_companies.csv')

In [56]:
# Convert columns to strings, remove '$', 'billion', and 'million', and convert to float
finance['Revenue 2018'] = finance['Revenue 2018'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
finance['Revenue 2019'] = finance['Revenue 2019'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
finance['Revenue 2020'] = finance['Revenue 2020'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)

finance['Net Income 2018'] = finance['Net Income 2018'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
finance['Net Income 2019'] = finance['Net Income 2019'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
finance['Net Income 2020'] = finance['Net Income 2020'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)

print(finance[['Revenue 2018', 'Revenue 2019', 'Revenue 2020', 'Net Income 2018', 'Net Income 2019', 'Net Income 2020']])

finance.to_csv('../data/biggest_companies_cleaned.csv', index=False)

     Revenue 2018  Revenue 2019  Revenue 2020  Net Income 2018  \
0    2.329000e+11  2.805000e+11  3.861000e+11     2.130000e+10
1    2.656000e+11  2.602000e+11  2.745000e+11     5.950000e+10
2    1.368000e+11  1.619000e+11  1.823000e+11     3.070000e+10
3    1.104000e+11  1.309000e+11  1.430000e+11     1.660000e+10
4    3.990000e+10  5.610000e+10  7.020000e+10     1.290000e+10
..            ...           ...           ...              ...
269  9.400000e+09  9.400000e+09  9.400000e+09     1.770000e+09
270  1.720000e+10  1.720000e+10  1.720000e+10     1.400000e+09
271  7.500000e+09  7.500000e+09  7.500000e+09     5.960000e+08
272  9.800000e+09  9.800000e+09  9.800000e+09     1.130000e+09
273  1.500000e+09  1.500000e+09  1.500000e+09     2.800000e+08

     Net Income 2019  Net Income 2020
0       2.130000e+10     2.130000e+10
1       5.520000e+10     1.114000e+11
2       3.430000e+10     4.620000e+10
3       4.430000e+10     5.300000e+10
4       1.490000e+10     1.190000e+10
..               ...              ...
269     1.770000e+09     1.770000e+09
270     1.400000e+09     1.400000e+09
271     5.960000e+08     5.960000e+08
272     1.130000e+09     1.130000e+09
273     2.800000e+08     2.800000e+08

[274 rows x 6 columns]

In [57]:
founder = pd.read_csv('../data/biggest_companies_noe_nof.csv')

In [58]:
# Ensure the 'finance' and 'founder' dataframes are defined before this cell
df = pd.merge(finance, founder, on='Company Name', how='inner') # type: ignore
print(df)

         Company Name Country Founded Year Founded  Revenue 2018  \
0              Amazon   United States         1994  2.329000e+11
1               Apple   United States         1976  2.656000e+11
2              Google   United States         1998  1.368000e+11
3           Microsoft   United States         1975  1.104000e+11
4             Alibaba           China         1999  3.990000e+10
..                ...             ...          ...           ...
244             Nokia         Finland         1865  2.327000e+10
245            Fortum         Finland         1998  9.930000e+09
246        Stora Enso         Finland         1998  1.038000e+10
247  Reykjavik Energy         Iceland         1913  9.570000e+08
248   Bombardier Inc.          Canada         1942  1.591000e+10

     Revenue 2019  Revenue 2020  Net Income 2018  Net Income 2019  \
0    2.805000e+11  3.861000e+11     2.130000e+10     2.130000e+10
1    2.602000e+11  2.745000e+11     5.950000e+10     5.520000e+10
2    1.619000e+11  1.823000e+11     3.070000e+10     3.430000e+10
3    1.309000e+11  1.430000e+11     1.660000e+10     4.430000e+10
4    5.610000e+10  7.020000e+10     1.290000e+10     1.490000e+10
..            ...           ...              ...              ...
244  2.322000e+10  2.245000e+10     2.910000e+09     2.730000e+09
245  1.044000e+10  1.074000e+10     1.420000e+09     1.580000e+09
246  1.075000e+10  1.054000e+10     1.260000e+09     1.330000e+09
247  9.770000e+08  1.020000e+09     7.300000e+07     7.200000e+07
248  1.642000e+10  1.603000e+10    -1.580000e+09    -1.390000e+09

     Net Income 2020            Industry Number of Employees  \
0       2.130000e+10              Retail             800,000
1       1.114000e+11          Technology             137,000
2       4.620000e+10          Technology             118,899
3       5.300000e+10          Technology             151,000
4       1.190000e+10              Retail             104,000
..               ...                 ...                 ...
244     1.790000e+09  Telecommunications             103,000
245     1.350000e+09              Energy               8,300
246     1.070000e+09    Paper, Packaging              26,000
247     8.900000e+07              Energy               1,100
248    -1.560000e+09      Transportation              73,000

                                  Founder
0                              Jeff Bezos
1                              Steve Jobs
2                              Larry Page
3                              Bill Gates
4                                 Jack Ma
..                                    ...
244                       Fredrik Idestam
245                 Government of Finland
246                          Hans Gutzeit
247  David Anderson, Margret Bjarnadottir
248              Joseph-Armand Bombardier

[249 rows x 12 columns]

In [59]:
df.to_csv('../data/biggest_companies_cleaned.csv', index=False)