In [142]:
#importing the libraries
import pandas as pd
import os

In [143]:
# Reading both of the files
finance = pd.read_csv('../data/finance.csv')
foudner_employee = pd.read_csv('../data/founder_employees.csv')

In [144]:
df = pd.merge(finance, foudner_employee, on='Company Name', how='inner')

In [145]:
df.dtypes

Company Name           object
Country Founded        object
Year Founded           object
Revenue 2018           object
Revenue 2019           object
Revenue 2020           object
Net Income 2018        object
Net Income 2019        object
Net Income 2020        object
Industry               object
Number of Employees    object
Founder                object
dtype: object

In [146]:
df['Revenue 2018'] = df['Revenue 2018'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
df['Revenue 2019'] = df['Revenue 2019'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
df['Revenue 2020'] = df['Revenue 2020'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)

df['Net Income 2018'] = df['Net Income 2018'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
df['Net Income 2019'] = df['Net Income 2019'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)
df['Net Income 2020'] = df['Net Income 2020'].astype(str).str.replace('$', '').str.replace(' billion', 'e9').str.replace(' million', 'e6').astype(float)

df['Year Founded'] = df['Year Founded'].astype(int)
df['Number of Employees'] = df['Number of Employees'].astype(str).str.replace(',', '').astype(int)

In [147]:
df.dtypes

Company Name            object
Country Founded         object
Year Founded             int32
Revenue 2018           float64
Revenue 2019           float64
Revenue 2020           float64
Net Income 2018        float64
Net Income 2019        float64
Net Income 2020        float64
Industry                object
Number of Employees      int32
Founder                 object
dtype: object

In [148]:
duplicates = df[df.duplicated('Company Name')]
df.drop_duplicates(inplace=True)

In [149]:
df.drop_duplicates(subset='Company Name', inplace=True)
df.sort_values(by='Company Name', inplace=True)
df.reset_index(drop=True, inplace=True)

In [150]:
df

,Company Name,Country Founded,Year Founded,Revenue 2018,Revenue 2019,Revenue 2020,Net Income 2018,Net Income 2019,Net Income 2020,Industry,Number of Employees,Founder
0,ACS,Spain,1997,5.620000e+10,5.680000e+10,5.740000e+10,5.600000e+09,6.600000e+09,7.600000e+09,Construction and services,100000,Florentino Pérez
1,AMP,Australia,1849,1.630000e+10,1.650000e+10,1.670000e+10,1.300000e+09,2.300000e+09,3.300000e+09,Financial services,12000,Edward Wilson
2,ANZ,Australia,1951,2.760000e+10,2.820000e+10,2.880000e+10,6.600000e+09,5.600000e+09,4.600000e+09,Banking,50000,Government of Australia
3,AXA,France,1816,1.001000e+11,1.006000e+11,9.750000e+10,4.700000e+09,5.100000e+09,4.800000e+09,Financial services,167000,Henri Germain
4,Adidas,Germany,1949,2.120000e+10,2.130000e+10,2.210000e+10,1.100000e+09,1.200000e+09,1.200000e+09,Footwear,61600,"Adolf ""Adi"" Dassler"
...,...,...,...,...,...,...,...,...,...,...,...,...
214,Wesfert,Australia,1999,1.290000e+10,1.310000e+10,1.330000e+10,1.900000e+09,2.900000e+09,3.900000e+09,Agriculture,3000,"John Embling, Keith Masters"
215,Westpac,Australia,1817,2.940000e+10,3.000000e+10,3.060000e+10,7.400000e+09,6.400000e+09,5.400000e+09,Banking,34000,"Edward Smith Hall, Reverend John West"
216,Woodside Petroleum,Australia,1954,1.040000e+10,1.060000e+10,1.080000e+10,1.400000e+09,2.400000e+09,3.400000e+09,Oil and gas,3500,Lawrence Broomhall
217,Woolworths,Australia,1924,6.240000e+10,6.300000e+10,6.360000e+10,2.400000e+09,3.400000e+09,4.400000e+09,Retail,215000,"Percy Christmas, Stanley Chatterton"
218,Yara,Norway,1905,1.150000e+10,1.190000e+10,1.060000e+10,1.400000e+09,1.700000e+09,1.200000e+09,Fertilizers and Industrial Chemicals,17000,Kristian Birkeland